h1{
		text-align:center;
		 color: #dddcde;
		 margin: 0px;
		 font-size:70px;
		 background-image: url('https://render.fineartamerica.com/images/rendered/default/poster/8/10/break/images/artworkimages/medium/3/japan-travel-tourism-with-japanese-castle-mt-fuji-lanterns-retro-vintage-blue-organic-synthesis.jpg');
		}
		p{
			margin:5px;
			color: #76b5c5;
		}
		title{
			color: #dddcde;
		}
		img{
			border-radius: 50%; border:5px solid lightsteelblue;
		}